body {
	text-align: center;
	background-color: palegreen;
	font-family: Roboto Condensed;
}

.container {
	justify-content: center;
	padding: 50px;
	width:60%;
	background-color: lightyellow;
	border-radius: 15px;
	border: darkgreen solid 5px;
}

img {
	width: 30%;
}

h1 {
	color: seagreen;
}

a {
	text-decoration: none;
	color: darkgreen;
}